.%config.id%.Formation .window-content {
  display:grid;
  grid-gap: 5px;
  grid: 
    "header header header . common" auto
    ".      up      .     . common" auto
    "left   normal  right . elevation" auto
    ".      down    .     . elevation" auto
    / 1fr 1fr 1fr 5px 2fr;

  align-items:center;
  justify-items:center;

  input[type="radio"] {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  img {
    border:none;
  }

  .flexcol {
    height:100%;
    width:100%;
  }

  label {
    display:inline-flex;
    align-items:center;
    justify-content: flex-start;
    white-space: nowrap;

    input {
      position:static;
      margin-right:5px;
    }
  }

  h2, h3 {
    margin:0;
    border:none;

    i {
      padding-left:5px;
    }
  }
}
