<h2 style="grid-area:header">Formation</h2>
<button style="grid-area:up;" data-value="UP" ><i
    class="fa-solid fa-arrow-up"
  ></i></button>
<button style="grid-area:down;" data-value="DOWN" ><i
    class="fa-solid fa-arrow-down"
  ></i></button>
<button style="grid-area:left;" data-value="LEFT" ><i
    class="fa-solid fa-arrow-left"
  ></i></button>
<button style="grid-area:right;" data-value="RIGHT" ><i
    class="fa-solid fa-arrow-right"
  ></i></button>
<button style="grid-area:center;" data-value="NONE" ><i
    class="fa-solid fa-lock"
  ></i></button>

<h2 style="grid-area:follow;">Follow</h2>
<button style="grid-area:mirror" data-value="MIRROR" ><i
    class="fa-solid fa-arrow-left"
  ></i><i
    class="fa-solid fa-arrow-right"
  ></i></button>
<button style="grid-area:normal" data-value="SHADOW" ><i
    class="fa-solid fa-arrow-right"
  ></i><i
    class="fa-solid fa-arrow-right"
  ></i></button>
<form class="flexcol" style="grid-area:elevation;">
  <h3>Elevation Mode</h3>
  <label>
    <input type="radio" checked value="tether" name="elevation" />
    Tethered
  </label>
  <label>
    <input type="radio" value="offset" name="elevation" />
    Offset
  </label>
  <label>
    <input type="radio" value="static" name="elevation" />
    Static
  </label>
</form>
<form class="flexcol" style="grid-area:common;">
  <label>
    <input type="checkbox" checked name="snap-grid" />
    Snap to Grid
  </label>
  <label>
    <input type="checkbox" name="no-pause" />
    Never Pause
  </label>
</form>
